In [1]:
import pandas as pd
import numpy as  np

In [2]:
#Load the energy data from the file
energy = pd.read_excel("Energy Indicators.xls")

In [3]:
#exluding header and footer
energy = energy[17:244]

In [4]:
#drop first two unneccessary columns
energy.drop(columns=['Unnamed: 0', 'Unnamed: 1'], inplace=True)

In [5]:
#rename columns
energy = energy.rename(columns={'Unnamed: 2':'Country', 
                        'Unnamed: 3':'Energy Supply', 
                        'Unnamed: 4':'Energy Supply per Capita', 
                        'Unnamed: 5':'% Renewable'})

In [6]:
#Convert Energy Supply to gigajoules 
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [7]:
#mark missing data as NaN
energy['Energy Supply'] = energy["Energy Supply"].apply(lambda val: val if type(val) == int else np.nan)

In [8]:
#Rename the following list of countries

energy["Country"].replace({'Republic of Korea': 'South Korea',
'United States of America': 'United States',
'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
'China, Hong Kong Special Administrative Region': 'Hong Kong'}, inplace=True)

In [9]:
import re

In [10]:

energy_list_countries = energy['Country']

# function remove numbers and/or parenthesis in their name
def remove_num_and_paran(country):
    try:
        return re.findall(
            '^[^(]*[^\0-9]',
            (energy_list_countries[country] if country in energy_list_countries.keys() else country)
        )[0]
    except:
        return np.nan

In [11]:
energy['Country'] = energy['Country'].apply(remove_num_and_paran)

In [12]:
#GDP from 1960 to 2015 from World Bank.

GDP = pd.read_csv("world_bank_GDP.csv", encoding='utf-8', engine='python',  skiprows=3, sep=',')
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)

In [13]:
#GDP from 1960 to 2015 
GDP.drop(columns= ['2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'], inplace=True)

In [14]:
#ename the list of countries
GDP["Country"].replace({'Korea, Rep.': 'South Korea',
                            'Iran, Islamic Rep.': 'Iran',
                            'Hong Kong SAR, China' : 'Hong Kong'
                            }, inplace=True)

In [15]:
#Load DataFrame "ScimEn" from 'Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology'
ScimEn = pd.read_excel('scimagojr.xlsx')

In [16]:
# merge Energy, GDP, and ScimEn dataframes
joined_e_to_G = energy.merge(GDP, on="Country", how="inner")
joined_dataframes = joined_e_to_G.merge(ScimEn, on="Country", how="inner").set_index('Country')

In [17]:
joined_dataframes.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
                                '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
                                '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', 
                                '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
                                '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
                                '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', 
                                '2002', '2003', '2004', '2005', 'Region'], inplace=True)

# Q1

In [18]:
joined_dataframes = joined_dataframes[['Rank', 'Documents', 'Citable documents','Citations', 'Self-citations', 
                                  'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
                                  '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                                  '2014', '2015']]

In [19]:
def answer_one():
    '''-return the resulted DataFrame (20 columns and 15 entries)'''
    return joined_dataframes.sort_values(by='Rank').iloc[:15]

In [20]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93,19.75491,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26,14.96908,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
Germany,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165,17.90153,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.356236e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214,17.28868,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109,33.66723,1.947920e+12,2.210293e+12,2.398857e+12,2.191242e+12,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12
South Korea,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166,17.02028,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Iran,12,22933,22734,307280,97038,13.40,141,9.172000e+09,119,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,5.807649e+11,5.988685e+11,4.602931e+11,4.326870e+11,3.849515e+11
Spain,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106,37.96859,1.259344e+12,1.472131e+12,1.625225e+12,1.485583e+12,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12
Brazil,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59,69.64803,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12
Australia,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231,11.81081,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12
Turkey,17,12828,12549,226772,46271,17.68,157,4.897000e+09,64,28.53669,5.570578e+11,6.813373e+11,7.704622e+11,6.492726e+11,7.769926e+11,8.387628e+11,8.805564e+11,9.577830e+11,9.389526e+11,8.643167e+11
Norway,18,10862,10731,123291,24525,11.35,125,1.388000e+09,273,97.63558,3.455814e+11,4.009371e+11,4.622500e+11,3.861904e+11,4.287570e+11,4.982834e+11,5.095063e+11,5.227615e+11,4.984101e+11,3.858016e+11

# Q2

In [21]:
def answer_two():
    '''Show average GDP over the last 10 years for list of countries
    -->return a Series named avgGDP with 15 countries and their average GDP'''
    Top15 = answer_one()
    avgGDP = (
        Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
            .T
            .describe()
            .mean()
            .sort_values(ascending=False)
    )
    return avgGDP

In [22]:
answer_two()

Country
China                 5.566969e+12
Japan                 4.011863e+12
Germany               2.657420e+12
France                2.036272e+12
Italy                 1.623631e+12
Brazil                1.547437e+12
Russian Federation    1.296402e+12
India                 1.236438e+12
Canada                1.232046e+12
Spain                 1.068531e+12
Australia             9.360555e+11
South Korea           9.335701e+11
Turkey                6.030873e+11
Norway                3.385651e+11
Iran                  3.376008e+11
dtype: float64

# Q3

In [23]:
def answer_three():
    '''Show how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP
    -->return a single number'''
    Top15 = answer_one() 
    country = answer_two().index[5]
    ratio = Top15.loc[country]['2006'] / Top15.loc[country]['2015']
    return ratio

In [24]:
answer_three()

0.6145996312945924

# Q4

In [25]:
def answer_four():
    '''Function show the maximum value of ratio of Self-Citations to Total Citations
    -->return a tuple with the name of the country and the ratio'''
    Top15 = answer_one()
    ratio_citations = Top15['Self-citations'] / Top15['Citations']
    ratio_citations = ratio_citations.sort_values(ascending=False)
    return (ratio_citations.index[0], ratio_citations[0])

In [26]:
answer_four()

('China', 0.6912289816173135)

# Q5

In [27]:
def answer_five():
    '''Show the third most populous country by specified list
    -->return a single string value'''
    Top15 = answer_one()
    country = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).sort_values(ascending=False).index[2]
    return country

In [28]:
answer_five()

'Brazil'

# Q6

In [29]:
def answer_six():
    '''Show correlation between the number of citable documents per capita and the energy supply per capita
    -->return a single number'''
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Documents per Capita'] = Top15['Citable documents'] / Top15['Population']
    correlation = Top15[['Documents per Capita', 'Energy Supply per Capita']].astype(float).corr().iloc[0][1]
    return correlation

In [30]:
answer_six()

0.7392980085965914


# Q7

In [31]:
# dictionary of Countries by Continent
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America',
    'Turkey': 'Asia',
    'Norway': 'Europe'
}

def answer_seven():
    '''Group the Countries by Continent show size (the number of countries in each continent), sum, mean,
    and std deviation for the estimated population of each continent
    -->return a DataFrame with index named Continent and columns ['size', 'sum', 'mean', 'std']'''
    Top15 = answer_one().reset_index()
    
    Top15['Continent'] = Top15['Country'].apply(lambda val: ContinentDict[val])
    Top15['Population'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).astype(float)    
    grouped_df = Top15.groupby(['Continent'])['Population'].agg(['size', 'sum', 'mean', 'std'])
    return grouped_df

In [32]:
answer_seven()

               size           sum          mean           std
Continent
Asia              6  2.975182e+09  4.958637e+08  6.412050e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  3.991429e+08  6.652382e+07  4.548861e+07
North America     1  3.523986e+07  3.523986e+07           NaN
South America     1  2.059153e+08  2.059153e+08           NaN