In [11]:
import pandas as pd
import numpy as np
import os

In [12]:
cwd = os.getcwd()
path = os.path.join(cwd, 'data')

In [15]:
train = pd.read_csv('training.csv')

In [18]:
test = pd.read_csv('testing.csv')

In [22]:
def get_train_set():
    fp = os.path.join(path, 'training.csv')
    df_train = train
    return df_train

df_train = get_train_set()
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
def get_test_set():
    fp = os.path.join(path, 'testing.csv')
    df_test = test
    return df_test

df_test = get_test_set()
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [29]:
def transform_sex_values(df):
    if df['Sex'].dtype == 'object':
        df['Sex'] = df['Sex'].apply(lambda value: 0 if value == 'male' else 1)
        return df
    else:
        return df

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X_train = df_train[features]
y_train = df_train['Survived']
X_test = df_test[features]

In [33]:
X_train = transform_sex_values(X_train)
X_test = transform_sex_values(X_test)

<ipython-input-29-659540aa576a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex'] = df['Sex'].apply(lambda value: 0 if value == 'male' else 1)

In [34]:
from sklearn import svm

In [35]:
premodel = svm.LinearSVC()

In [37]:
premodel.fit(X_train, y_train)

/home/user/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [39]:
print( 'Train accuracy:', premodel.score(X_train, y_train))

Train accuracy: 0.7934904601571269

In [41]:
predictions = premodel.predict(X_test)

In [42]:
output = pd.DataFrame({'PassengerId': df_test['PassengerId'], 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)